@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
    --main-bg-color: #8D3DAF;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: var(--main-bg-color);
    font-family: 'Libre Baskerville', serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    padding: 0 23px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 493px;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Libre Baskerville', serif;
    font-weight: 900px;
}
.slider{
    margin: 12px auto;
    width: 60vw;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Libre Baskerville', serif;
}